<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div class="login-form">
    <h2>Вход</h2>

    <form id="loginForm">
        <input id="username" type="text" placeholder="Имя пользователя" required>
        <input id="password" type="password" placeholder="Пароль" required>
        <button type="submit">Войти</button>
    </form>

    <a class="link" th:href="@{/register}">Создать аккаунт</a>
</div>

<script th:src="@{/js/login.js}"></script>

</body>
</html>