<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лента постов</title>
    <link th:href="@{/css/post.css}" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a href="/profile">Мой профиль</a>
    <a href="/post_view">Мои посты</a>
    <a href="/create_post">Создать пост</a>
</div>

<h1 class="title">Лента постов</h1>

<div id="posts-container" class="posts-container"></div>
<div id="comment-block" class="comments-${post.id}"></div>

<script th:src="@{/js/post.js}"></script>
<script th:src="@{/js/feed.js}"></script>
</body>
</html>