<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link th:href="@{/css/profile.css}" rel="stylesheet">
</head>
<body>

<div class="layout">

    <aside class="sidebar">
        <div class="search-container">
            <input type="text" id="userSearchInput" class="search-input" placeholder="Поиск пользователей..." autocomplete="off">
            <div id="searchResults" class="search-results-dropdown"></div>
        </div>
        <div class="user-box">
            <h3 class="username"></h3>
            <p class="email"></p>
        </div>

        <div class="user-box">
            <img id="profileAvatar" src="/images/default-avatar.png" class="avatar-image">
            <h3 class="username"></h3>
        </div>

<div>
        <div class="user-stats">
            <div class="stat-item" onclick="openFollowModal('followers')">
                <span class="label">Подписчики: </span>
                <span class="count" id="followersCount">0</span>
            </div>
            <div class="stat-item" onclick="openFollowModal('following')">
                <span class="label">Подписки: </span>
                <span class="count" id="followingCount">0</span>
            </div>
        </div>
</div>
        <nav class="sidebar-nav">
            <a href="/edit_profile" id="editProfileBtn" class="nav-item">Редактировать профиль</a>
            <a href="/profile" class="nav-item">Мой профиль</a>
            <a href="/post" id="myPostsBtn" class="nav-item">Посты</a>
            <a href="/messages" id="messagesBtn" class="nav-item">Сообщения</a>
            <a href="#" id="logoutBtn" class="nav-item logout">Выйти</a>
        </nav>
    </aside>

    <main class="content">
        <h2>Посты</h2>

        <div class="posts" id="posts-container">

            <p style="color: #888;">Постов пока нет...</p>
        </div>
    </main>
</div>

<div id="followModal" class="follow-modal" style="display:none;">
    <div class="follow-modal-content">
        <h3 id="followModalTitle">Подписчики</h3>
        <div id="followList"></div>

        <button id="closeFollowModal" class="close-follow-btn">Закрыть</button>
    </div>
</div>

<script th:src="@{/js/profile.js}"></script>
<script th:src="@{/js/feed.js}"></script>
<script th:src="@{/js/follow_view.js}"></script>
<script th:src="@{/js/user_search.js}"></script>
<script th:src="@{/js/messages.js}"></script>
</body>
</html>