<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link th:href="@{/css/profile.css}" rel="stylesheet">
</head>
<body>

<div class="layout">

    <aside class="sidebar">
        <div class="user-box">
            <h3 class="username"></h3>
            <p class="email"></p>
        </div>

        <div class="user-box">
            <img id="profileAvatar" src="/images/default-avatar.png" class="avatar-image">
            <h3 class="username"></h3>
        </div>

        <nav class="sidebar-nav">
                        <a href="/edit_profile" id="editProfileBtn" class="nav-item">Редактировать профиль</a>
                        <a href="/profile" class="nav-item">Мой профиль</a>
                        <a href="/post" id="myPostsBtn" class="nav-item">Мои посты</a>
                        <a href="/messages" id="messagesBtn" class="nav-item">Сообщения</a>
                        <a href="#" id="logoutBtn" class="nav-item logout">Выйти</a>
                    </nav>
    </aside>

    <main class="content">
        <h2>Мои посты</h2>

        <div class="posts" id="postsContainer">

            <p style="color: #888;">Постов пока нет...</p>
        </div>
    </main>

</div>

<script th:src="@{/js/profile.js}"></script>
<script th:src="@{/js/feed.js}"></script>
</body>
</html>